#!/bin/bash

# Linux specific aliases
alias pbcopy='xclip -selection clipboard'
alias pbpaste='xclip -selection clipboard -o'

# Shortcuts
alias dl="cd ~/Downloads"
alias h="history"

# untar
alias untar='tar xvzf'
alias vim="nvim"

alias ls="eza"
alias cat="bat"
alias ps="procs"
alias http="xh"
alias https="xh"
alias startx="dbus-run-session sway"
