URxvt*font: xft:DejaVu Sans Mono:size=14
URxvt*scrollBar_right: true
URxvt*thickness: 12
Xft*antialias: true
Xft*hinting: true

!! clickable urls
URxvt.perl-ext-common:      default,matcher,selection-to-clipboard,clipboard
URxvt.url-launcher:         /usr/bin/xdg-open
URxvt.matcher.button:       1
URxvt.url-select.underline: true

!! copy paste
URxvt.clipboard.autocopy:   true

! Molokai theme
! See: https://gist.github.com/vreon/845878
xterm*background: #101010
xterm*foreground: #d0d0d0
xterm*cursorColor: #d0d0d0
xterm*color0: #101010
xterm*color1: #960050
xterm*color2: #66aa11
xterm*color3: #c47f2c
xterm*color4: #30309b
xterm*color5: #7e40a5
xterm*color6: #3579a8
xterm*color7: #9999aa
xterm*color8: #303030
xterm*color9: #ff0090
xterm*color10: #80ff00
xterm*color11: #ffba68
xterm*color12: #5f5fee
xterm*color13: #bb88dd
xterm*color14: #4eb4fa
xterm*color15: #d0d0d0

! Molokai theme
! See: https://gist.github.com/vreon/845878
urxvt*background: #101010
urxvt*foreground: #d0d0d0
urxvt*cursorColor: #d0d0d0
urxvt*color0: #101010
urxvt*color1: #960050
urxvt*color2: #66aa11
urxvt*color3: #c47f2c
urxvt*color4: #30309b
urxvt*color5: #7e40a5
urxvt*color6: #3579a8
urxvt*color7: #9999aa
urxvt*color8: #303030
urxvt*color9: #ff0090
urxvt*color10: #80ff00
urxvt*color11: #ffba68
urxvt*color12: #5f5fee
urxvt*color13: #bb88dd
urxvt*color14: #4eb4fa
urxvt*color15: #d0d0d0

! Base16 Summerfruit Dark
! Scheme: Christopher Corley (http://christop.club/)

!#define base00 #151515
!#define base01 #202020
!#define base02 #303030
!#define base03 #505050
!#define base04 #b0b0b0
!#define base05 #d0d0d0
!#define base06 #e0e0e0
!#define base07 #ffffff
!#define base08 #ff0086
!#define base09 #fd8900
!#define base0A #aba800
!#define base0B #00c918
!#define base0C #1faaaa
!#define base0D #3777e6
!#define base0E #ad00a1
!#define base0F #cc6633

!*foreground:   base05
!#ifdef background_opacity
!*background:   [background_opacity]base00
!#else
!*background:   base00
!#endif
!*cursorColor:  base05

!*color0:       base00
!*color1:       base08
!*color2:       base0B
!*color3:       base0A
!*color4:       base0D
!*color5:       base0E
!*color6:       base0C
!*color7:       base05

!*color8:       base03
!*color9:       base08
!*color10:      base0B
!*color11:      base0A
!*color12:      base0D
!*color13:      base0E
!*color14:      base0C
!*color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
!*color16:      base09
!*color17:      base0F
!*color18:      base01
!*color19:      base02
!*color20:      base04
!*color21:      base06
